@model IEnumerable<Pro.Models.Certification>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.namecertification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.namecertification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeget)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idcertification">Edit</a> |               
                <a asp-action="Delete" asp-route-id="@item.idcertification">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
